/* HTML elements  */		

	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:0;
		line-height:1.1em;
		color:#000;
		}	
	h1{font-size:2em;margin-bottom:.5em;}	
	h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
	h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
	h4{font-size:1.25em;margin-bottom:.6em;}
	h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}
	
	p, blockquote, ul, ol, dl, form, table, pre{line-height:inherit;margin:0 0 1.5em 0;}
	ul, ol, dl{padding:0;}
	ul ul, ul ol, ol ol, ol ul, dd{margin:0;}
	li{margin:0 0 0 2em;padding:0;display:list-item;list-style-position:outside;}	
	blockquote, dd{padding:0 0 0 2em;}
	pre, code, samp, kbd, var{font:100% mono-space,monospace;}
	pre{overflow:auto;}
	abbr, acronym{
		text-transform:uppercase;
		border-bottom:1px dotted #000;
		letter-spacing:1px;
		}
	abbr[title], acronym[title]{cursor:help;}
	small{font-size:.9em;}
	sup, sub{font-size:.8em;}
	em, cite, q{font-style:italic;}
	img{border:none;}			
	hr{display:none;}	
	table{width:100%;border-collapse:collapse;}
	th,caption{text-align:left;}
	form div{margin:.5em 0;clear:both;}
	label{display:block;}
	fieldset{margin:0;padding:0;border:none;}
	legend{font-weight:bold;}
	input[type="radio"],input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}

/* //  HTML elements */	

::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 0 0 0 0;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: bold;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: left;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 60px 0 0 0;
	}
	
	p.stat{
		text-align: right;
		font-size: 11px;
		margin: -40px 5px 0 0;
	}
	
	p.bottomstuff {
		text-align: center;
		font-size: 13px;
		line-height: 32px;
	}
	
	
	#container{
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		 -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	}
	
	#container h1 {
		background:#0092c8;
		color:#fff;
		text-shadow:#007dab 0 1px 0;
		font-size:14px;
		padding:18px 23px;
		margin:0 0 1.5em 0;
		border-bottom:1px solid #007dab;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	
	#custom_header {
		padding: 0 0 0 30px;
		background-color: #EEE;
		height: 50px;
		margin-bottom: 5px;
	}
	#custom_header .rightstuff {
		float:right;
		margin-right:30px;
		margin-top:15px;
		font-size:1.1em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
	}
	#login div{
		margin:.5em 25px;
		background:#eee;
		padding:4px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		text-align:right;
		position:relative;
		width:300px;
	}
	#login label{
		float:left;
		line-height:30px;
		padding-left:10px;
	}
	#login .field{
		border:1px solid #ccc;
		width:300px;
		font-size:12px;
		line-height:1em;
		padding:4px;
		-moz-box-shadow:inset 0 0 5px #ccc;
		-webkit-box-shadow:inset 0 0 5px #ccc;
		box-shadow:inset 0 0 5px #ccc;
	}	
	
	#login .button {
		padding: 10px 10px;
		background: #4479BA;
		color: #FFF;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		 -moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		border-radius: 20px;
	}
	
	#login div.submit{background:none;margin:1em 25px;text-align:left;}	
	#login div.submit label{float:none;display:inline;font-size:11px;}
	
	#login .error{
		background:#890000;
		padding:5px 10px;	
		font-size:11px;
		color:#fff;
		text-shadow:#500 0 1px 0;
		text-align:left;
		white-space:nowrap;
		border:1px solid #500;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		-moz-box-shadow:0 0 5px #700;
		-webkit-box-shadow:0 0 5px #700;
		box-shadow:0 0 5px #700;
	}
	
	#login .register {
		background:none;
		text-align:left;
	}
	#reg_form div{
		margin:.5em 25px;
		background:#eee;
		padding:4px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		text-align:right;
		position:relative;
		width:300px;
	}
	#reg_form .error{
		background:#890000;
		padding:5px 10px;	
		font-size:11px;
		color:#fff;
		text-shadow:#500 0 1px 0;
		text-align:left;
		white-space:nowrap;
		border:1px solid #500;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		-moz-box-shadow:0 0 5px #700;
		-webkit-box-shadow:0 0 5px #700;
		box-shadow:0 0 5px #700;
		width:300px;
		margin-left:20px;
	}
	#reg_form label{
		float:left;
		line-height:30px;
		padding-left:10px;
	}
	#reg_form .field{
		border:1px solid #ccc;
		width:300px;
		font-size:12px;
		line-height:1em;
		padding:4px;
		-moz-box-shadow:inset 0 0 5px #ccc;
		-webkit-box-shadow:inset 0 0 5px #ccc;
		box-shadow:inset 0 0 5px #ccc;
	}	
	
	#reg_form .button {
		padding: 10px 10px;
		background: #4479BA;
		color: #FFF;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		 -moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		border-radius: 20px;
	}
	
	#reg_form div.submit{background:none;margin:1em 25px;text-align:left;}	
	#reg_form div.submit label{float:none;display:inline;font-size:11px;}
	
	#list_of_resumes {
		
	}
	#upload_section {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:1em;
		margin-left:50px;
		padding:20px 20px 1px 20px;
		margin-bottom:20px;
		background:#D8D8D8;
		width:500px;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		 -moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		border-radius: 20px;
	}
	#upload_section div {
		margin-bottom:-25px;
	}
	#upload_section label {
		font-size:1.2em;
	}
	#upload_section .error{
		float:right;
		background:#890000;
		padding:5px 10px;	
		font-size:11px;
		color:#fff;
		text-shadow:#500 0 1px 0;
		text-align:left;
		white-space:nowrap;
		border:1px solid #500;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		-moz-box-shadow:0 0 5px #700;
		-webkit-box-shadow:0 0 5px #700;
		box-shadow:0 0 5px #700;
	}
	#upload_section .success{
		float:right;
		background:#33CC00;
		padding:5px 10px;	
		font-size:11px;
		color:#fff;
		text-shadow:#500 0 1px 0;
		text-align:left;
		white-space:nowrap;
		border:1px solid #500;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		-moz-box-shadow:0 0 5px #700;
		-webkit-box-shadow:0 0 5px #700;
		box-shadow:0 0 5px #700;
	}
	
	#resumes
	{
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		width:500px;
		border-collapse:collapse;
		margin-left:auto;
		margin-right:auto;
	}
	#resumes td, #resumes th 
	{
		font-size:1em;
		border:1px solid #98bf21;
		padding:3px 7px 2px 7px;
	}
	#resumes th 
	{
		font-size:1.1em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#A7C942;
		color:#ffffff;
	}
	#resumes tr.alt td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}
	
	#list_of_events h2 {
		font-size:1.5em;
		margin:0 0 20px 20px;
	}
	
	#events
	{
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		width:500px;
		border-collapse:collapse;
		margin-left:auto;
		margin-right:auto;
	}
	#events td, #events th 
	{
		font-size:1em;
		border:1px solid #98bf21;
		padding:3px 7px 2px 7px;
	}
	#events th 
	{
		font-size:1.1em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#339999;
		color:#ffffff;
	}
	#events tr.alt td 
	{
		color:#000000;
		background-color:#99CC99;
	}
	#comments {
		font-size:1.2em;
		padding:10px;
		color:#000000;
		font-weight:bold;
		margin-left:10px;
	}
	#evaluation {
		padding:10px;
		margin-left:10px;
		font-size:1.2em;
	}
	#evaluation label {
		margin-left:20px;
		margin-top:-20px;
	}
	#evaluation h3 {
		font-size:1.3em;
		font-weight:bold;
	}
	